# Compiled class files
*.class

# NetBeans build folders
build/
dist/

# NetBeans private project config
nbproject/private/

# JARs
*.jar

# Logs and temp files
*.log
*.tmp
*.bak

# OS-specific files
.DS_Store
Thumbs.db

# IntelliJ / VSCode / Eclipse (por si se abre en otro IDE)
*.iml
.idea/
.vscode/
out/
